*{
	margin : 0;
	padding: 0;

}
.header{
	width : 100%;
	height: 120px;
	display: flex;
	background-color: #303036;
}
.header .header_center{
	width: 90%;
	height:100%;
	display: block;
	margin: 0 auto;

}
.logo_header {
	height: 100%;
	display:table;
	float: left;
}
.header_center h1{
	color: #19EC0E;
	height: 100%;
	display:table-cell;
	vertical-align: middle;
	font-family: 'Montserrat';
	font-size: 32px:;
	font-weight: 800;
}
.header_center h1 span{
	color:white;
	font-weight: 200;
}
.navi {
	float: right;
	height: 100%;
	text-decoration: none;
	list-style: none;
}
.navi a{
	height: 100%;
	display: table;
	float: left;
	padding: 10px;
	text-decoration: none
}
.navi a li{
	display:table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat';
	font-size: 16px;
}
.navi a:last-child {
	padding-right: 0;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top:10px;
    margin-left: 5px;

}
body{
    background-color: #F3F3F3;
}
.titre {
	
	vertical-align: middle;
	text-align: center;
	color: #333;
	font-size: 1.75rem;
	padding: 1.25rem .9375rem 0;
    display: block;
    text-align: center;
    font-weight: bold;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.image{

    position: relative;
    overflow: hidden;
}
.subtitle{
			font-size: 1.25rem;
    		font-family: montserratSemiBold,Arial,Sans-Serif;
    		margin-left: 10px;
    
}
.classement{
	display:flex;
}
.sous_box_info{
	margin-top: .3125rem;
	display : block;
	margin-left: 20px;
}
.sous_box_info span{
	color: #BCC1BC;
}
.resume{
	font-size: 1rem;
    line-height: 1.4;
    margin-top: 1.25rem;
    color: #333;
    overflow: hidden;
}


.button{
	padding : .5rem 1rem;
	background-color: #006669;
	color:white;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.rating {
	display: flex;
}
.note {
	display: block;
	font-weight: bold;
}
.footer {
	background-color: #303036;
	color:#d3d3d3;
	height : 400px;	
	position: relative;
}
.footer .footer-team {
	background-color: #343a40;
	color: #686868;
	height:50px;
	width: 100%;
	text-align: center;
	bottom : 0px;
	left:0px;
	padding-top: 20px;
}
.footer .footer-ref {
	height: 350px;
	display: flex;
}

.footer .footer-ref .footer-section{
	flex: 1;
	padding: 25px;
	border : 1px solid white;
}
.footer .footer-ref .about .contact span{
	display :block;
	font-size : 1.1em;
	margin-bottom: 8px;
	margin-top: 20px;
}
.footer .footer-ref .links ul a{
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	margin-left: 20px;
	padding-right: .9rem;
}
.footer .footer-ref .links ul a:hover {
color:white;
margin-left: 15px;
transition:all 0.3s;
}
.footer .footer-ref .contact-form .contact-input {
	background: #272727;
	color: #bebdbd;
	margin-bottom: 10px;
	line-height: 1.5rem;
	padding: .9rem 1.4rem;
	border : none;
}
.footer .footer-ref .contact-form .button{
	padding : .7rem 1.3rem;
	line-height: 1.3rem;	
}
.footer .footer-ref .contact-form .button:hover {
	color :white;
	background-color : #005225;
	cursor : pointer;

}
.footer .footer-ref h3{
	color: white;
}
a { color: #B4B0B0; }

.form_users {  
    background-color: white ;
    box-shadow: 12px 12px 12px #aaa;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    width : 800px;

   }
   table{
   	border-collapse: collapse;
margin: auto;
   }
   td,th{
   	border: 1px solid black;
   	padding : 10px;
   }
   th {
   	font-weight: normal;
   }
   tr:nth-child(even){
   	background-color: #EEE;
   }
   tr:nth-child(odd){
   	background-color: #CCC
   }	
.coup_de_coeur {
	margin :auto;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.coup_de_coeur  a{
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	margin-left: 20px;
	padding-right: .9rem;
	text-decoration: none;

}
.coup_de_coeur  a:hover{
	color:whites;
	margin-left: 15px;
	transition:all 0.3s;
}
.ccp {
	background-color: #25343B;
	color:#d3d3d3;
	height : 150px;	
	position: relative;
}
.contact_page {
	text-align: center;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: bold;
}